body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 1px auto;
  padding: 5px 5px;
}

.title {
  background: #e3f4ff;
  font-size: 1.5em;
  margin: 5px 5px 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 5px;
  padding: 12.5px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin: 10px 5px 5px;
  padding: 5px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto 5px auto;
  padding: 5px 20px 5px;
}